/* global css */

body,
html {
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: #f3f2ef;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s;
    cursor: pointer;
}


/* header */

header {
    position: relative;
    width: 100%;
}

header .header-info {
    padding: 10px 5px 5px 15px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}

.header-info .company-name {
    margin: 0 0 0 20px;
    color: rgb(239, 230, 230);
}

.header-menu {
    margin-left: auto;
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin-right: 30px;
}

.header-menu .menu-item {
    margin: 5px;
}

.header-menu .menu-item a {
    color: rgb(215, 193, 193);
    font-weight: 600;
    transition: all 0.2s;
    padding: 8px 10px;
}


/* pseudo classes */

.header-menu .menu-item a:visited {
    text-decoration: underline;
}

.header-menu .menu-item a:hover {
    color: #fff;
}


/* home section */

#home {
    height: 100%;
    width: 100%;
    background: url("images/home-bg.jpg") center center / cover no-repeat;
    color: #f2f2f2;
    display: flex;
    align-items: center;
}

#home .home-content {
    padding-left: 30px;
    opacity: 1;
    max-width: 500px;
}

#home .home-content .company-name {
    line-height: 30px;
    font-size: 50px;
}

#home .home-content .description {
    margin-top: 50px;
    font-size: 45px;
}

#home .home-content .description+p span {
    font-size: 40px;
}

#home .home-content button.make-appointment {
    margin-top: 30px;
    margin-left: 10px;
    padding: 15px 20px;
    color: rgb(215, 193, 193);
    border: 2px solid rgb(215, 193, 193);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
}

#home .home-content button.make-appointment:hover {
    color: #fff;
    border-color: #fff;
}


/* services section */

#services {
    margin: 50px 0;
}

.section-title {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: rgb(17, 24, 39);
}

.section-title span {
    padding: 5px 5px;
    border-bottom: 1px solid #000;
}

.service-cards {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.service-card {
    background-color: #fff;
    width: 300px;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 15px;
}

.service-card .service-title {
    font-size: 20px;
    color: rgb(17, 24, 39);
    padding-bottom: 5px;
    /* border-bottom: 1px solid #d3d0c5; */
    margin-bottom: 10px;
}

.service-card .price {
    font-size: 50px;
    font-weight: 300;
    color: #101623;
}

.service-card .pricing-services {
    margin-top: 10px;
    padding-left: 0px;
    list-style: none;
    color: rgb(17, 24, 39);
    font-weight: normal;
    overflow: hidden;
}

.service-card .pricing-services li {
    padding: 1em;
}

.service-card .pricing-services li:not(:last-child) {
    border-bottom: 1px solid #d3d0c5;
}

.service-card .get-service button {
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(215, 193, 193);
    border: 2px solid rgb(215, 193, 193);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
}

.service-card .get-service button:hover {
    color: #999999;
    border: 2px solid #999999;
}


/* gallery section */

#gallery {
    padding: px 0;
}

.gallery-images {
    padding: 10px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#gallery .gallery-images .image {
    width: 250px;
    height: 270px;
    margin: 5px 10px 10px;
}

#gallery .gallery-images .image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


/* make appointment */

#make-appointment {
    padding: 50px 0;
}

.appointment {
    display: flex;
    justify-content: center;
}


/* footer */

footer {
    padding: 20px;
    background-color: #181818;
    color: rgb(215, 193, 193);
}

footer .footer-upper {
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: center;
}

footer .company-name {
    margin: 0 0 0 15px;
    font-size: 18px;
}

.footer-upper .social-links {
    margin-left: auto;
}

.footer-upper .social-links .social-link {
    padding: 0 10px;
}

.footer-lower {
    padding-top: 20px;
    text-align: center;
    color: rgb(190, 175, 175);
    font-size: 14px;
}